@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Web.Models.ManageSubscriptionViewModel>
    @{
        var buttonText = Model.HasExistingSubscription ? "Change to this membership" : "Subscribe";
    }
<div class="row">

    <div class="col-md-12" style="margin-bottom: 1.5em;">@Html.ValidationSummary(true)</div>
    <div class="col-md-4">
        <div class="card card-price">
            <div class="content">
                <h6 class="category">Social Member</h6>
                <h1 class="price">
                    <small>£</small>@Model.SocialPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-bolt"></i> <b>Help backstage</b> but not on stage
                    </li>
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsSocialMember)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    //Dont require the user to enter card details if they already have a stripe account
                    if (Model.IsStripeUser)
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitSubscribeToStripeSubscriptionForm"))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.SocialMemberPlanId)
                            <button type="submit" class="btn btn-info btn-block">@buttonText</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitStripeSubscriptionForm", null, new { id = "SocialForm" }))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.SocialMemberPlanId)
                            <button type="submit" id="socialSubmit" class="btn btn-info btn-block">Subscribe now!</button>
                        }
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>
    <div class="col-md-4">
        <div class="card card-price card-price-best-deal">
            <div class="content">
                <h6 class="category">Ordinary Member</h6>
                <h1 class="price">
                    <small>£</small>@Model.OrdinaryPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-star"></i> <b>Star</b> in a show
                    </li>
                    <li>
                        <i class="fa fa-thumbs-up"></i> <b>Vote</b> in the AGM
                    </li>
                    <li>
                        <i class="fa fa-car"></i> <b>Park</b> in the car park (£1 permit fee applies)
                    </li>
                    <li>
                        <i class="fa fa-comments"></i> <b>Help backstage</b> and show us your skills
                    </li>
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsOrdinaryMember)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    //Dont require the user to enter card details if they already have a stripe account
                    if (Model.IsStripeUser)
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitSubscribeToStripeSubscriptionForm"))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.OrdinaryMemberPlanId)
                            <button type="submit" class="btn btn-info btn-block">@buttonText</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitStripeSubscriptionForm", null, new {id = "OrdinaryForm"}))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.OrdinaryMemberPlanId)
                            <button type="submit" id="ordinarySubmit" class="btn btn-info btn-block">Subscribe now!</button>
                        }
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>

    <div class="col-md-4">
        <div class="card card-price">
            <div class="content">
                <h6 class="category">Patron</h6>
                <h1 class="price">
                    <small>£</small>@Model.PatronPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                    <li>
                        <i class="fa fa-ticket"></i> <b>2</b> comp tickets for the spring show civic night
                    </li>
                    <li>
                        <i class="fa fa-gbp"></i> <b>Support</b> the theatre
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsPatron)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    //Dont require the user to enter card details if they already have a stripe account
                    if (Model.IsStripeUser)
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitSubscribeToStripeSubscriptionForm"))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.PatronPlanId)
                            <button type="submit" class="btn btn-info btn-block">@buttonText</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MembershipSurfaceController>("SubmitStripeSubscriptionForm", null, new {id = "PatronForm"}))
                        {
                            @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.PatronPlanId)
                            <button type="submit" id="patronSubmit" class="btn btn-info btn-block">Subscribe now!</button>
                        }
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
        key: '@WellsOperaticSociety.Web.SensativeInformation.StripeKeys.PublishableKey'
    });
    if($("#patronSubmit").length){
        //PATRON
        $('#patronSubmit')
            .on('click',
                function(e) {
                    // Open Checkout with further options:
                    handler.open({
                        name: 'Wells Little Theatre',
                        description: 'Patron',
                        zipCode: true,
                        currency: 'gbp',
                        amount: @Model.PatronPrice.Replace(".", ""),
                        image: '/images/stripeIcon.png',
                        locale: 'auto',
                        token: function(token) {
                            $('<input>')
                                .attr({
                                    type: 'hidden',
                                    id: 'StripeToken',
                                    name: 'StripeToken',
                                    value: token.id
                                })
                                .appendTo('#PatronForm');
                            handler.close();
                            $('#PatronForm').submit();
                        }
                    });
                    e.preventDefault();
                });
    }
    if ($('#ordinarySubmit').length) {
        $('#ordinarySubmit')
            .on('click',
                function(e) {
                    // Open Checkout with further options:
                    handler.open({
                        name: 'Wells Little Theatre',
                        description: 'Ordinary',
                        zipCode: true,
                        currency: 'gbp',
                        amount: @Model.OrdinaryPrice.Replace(".", ""),
                        image: '/images/stripeIcon.png',
                        locale: 'auto',
                        token: function(token) {
                            $('<input>')
                                .attr({
                                    type: 'hidden',
                                    id: 'StripeToken',
                                    name: 'StripeToken',
                                    value: token.id
                                })
                                .appendTo('#OrdinaryForm');
                            handler.close();
                            $('#OrdinaryForm').submit();
                        }
                    });
                    e.preventDefault();
                });
    }
    if ($('#socialSubmit').length) {
        //Social
        $('#socialSubmit')
            .on('click',
                function(e) {
                    // Open Checkout with further options:
                    handler.open({
                        name: 'Wells Little Theatre',
                        description: 'Social',
                        zipCode: true,
                        currency: 'gbp',
                        amount: @Model.SocialPrice.Replace(".", ""),
                        image: '/images/stripeIcon.png',
                        locale: 'auto',
                        token: function(token) {
                            $('<input>')
                                .attr({
                                    type: 'hidden',
                                    id: 'StripeToken',
                                    name: 'StripeToken',
                                    value: token.id
                                })
                                .appendTo('#SocialForm');
                            handler.close();
                            $('#SocialForm').submit();

                        }
                    });
                    e.preventDefault();
                });
    }


    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
        handler.close();
    });
</script>