@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Web.Models.ManageSubscriptionViewModel>
<div class="row">
    
    <div class="row">@Html.ValidationSummary(true)</div>
    <div class="col-md-4">
        <div class="card card-price">
            <div class="content">
                <h6 class="category">Social Member</h6>
                <h1 class="price">
                    <small>£</small>@Model.SocialPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-bolt"></i> <b>Help backstage</b> but not on stage
                    </li>
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsSocialMember)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    @*<button type="button" class="btn btn-info btn-block">Buy now!</button>*@
                    using (Html.BeginUmbracoForm("SubmitStripeSubscriptionForm", "MembershipSurface"))
                    {
                        @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.SocialMemberPlanId)
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@WellsOperaticSociety.Web.SensativeInformation.StripeKeys.PublishableKey"
                                data-amount="@Model.SocialPrice.Replace(".","")"
                                data-name="Wells Little Theatre"
                                data-description="Social Member"
                                data-image="/images/stripeIcon.png"
                                data-locale="auto"
                                data-zip-code="true"
                                data-currency="gbp">

                        
                        </script>
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>
    <div class="col-md-4">
        <div class="card card-price card-price-best-deal">
            <div class="content">
                <h6 class="category">Ordinary Member</h6>
                <h1 class="price">
                    <small>£</small>@Model.OrdinaryPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-star"></i> <b>Star</b> in a show
                    </li>
                    <li>
                        <i class="fa fa-thumbs-up"></i> <b>Vote</b> in the AGM
                    </li>
                    <li>
                        <i class="fa fa-car"></i> <b>Park</b> in the car park (£1 permit fee applies)
                    </li>
                    <li>
                        <i class="fa fa-comments"></i> <b>Help backstage</b> but not on stage
                    </li>
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsOrdinaryMember)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    @*<button type="button" class="btn btn-info btn-block">Buy now!</button>*@
                    using (Html.BeginUmbracoForm("SubmitStripeSubscriptionForm", "MembershipSurface"))
                    {
                        @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.OrdinaryMemberPlanId)
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@WellsOperaticSociety.Web.SensativeInformation.StripeKeys.PublishableKey"
                                data-amount="@Model.OrdinaryPrice.Replace(".","")"
                                data-name="Wells Little Theatre"
                                data-description="Ordinary Member"
                                data-image="/images/stripeIcon.png"
                                data-locale="auto"
                                data-zip-code="true"
                                data-currency="gbp">


                        </script>
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>

    <div class="col-md-4">
        <div class="card card-price">
            <div class="content">
                <h6 class="category">Patron</h6>
                <h1 class="price">
                    <small>£</small>@Model.PatronPrice
                </h1>
                <ul class="list-unstyled list-lines">
                    <li>
                        <i class="fa fa-beer"></i> <b>Purchase Drinks</b> and sign in up to two guests
                    </li>
                    <li>
                        <i class="fa fa-ticket"></i> <b>2</b> comp tickets for the spring show civic night
                    </li>
                    <li>
                        <i class="fa fa-gbp"></i> <b>Support</b> the theatre
                    </li>
                </ul>
            </div>
            <div class="footer">
                @if (Model.IsPatron)
                {
                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>You are subscribed!</button>
                }
                else
                {
                    @*<button type="button" class="btn btn-info btn-block">Buy now!</button>*@
                    using (Html.BeginUmbracoForm("SubmitStripeSubscriptionForm", "MembershipSurface"))
                    {
                        @Html.Hidden("PlanId", WellsOperaticSociety.BusinessLogic.StaticIdentifiers.PatronPlanId)
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@WellsOperaticSociety.Web.SensativeInformation.StripeKeys.PublishableKey"
                                data-amount="@Model.PatronPrice.Replace(".","")"
                                data-name="Wells Little Theatre"
                                data-description="Patron"
                                data-image="/images/stripeIcon.png"
                                data-locale="auto"
                                data-zip-code="true"
                                data-currency="gbp">


                        </script>
                    }
                }
            </div>
        </div> <!-- end card -->
    </div>
</div>