@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<WellsOperaticSociety.Models.MemberModels.Membership>>


<h2>Membership History</h2>
@if (Model != null && Model.Any())
{
    <div class="col-md-12">@Html.ValidationSummary(true)</div>
    if (TempData["CancelMessage"] != null)
    {
        <div class="col-md-12 alert alert-success">@TempData["CancelMessage"]</div>
    }
    <table class="table table-hover">
        <thead>
            <tr><th>Membership Id</th><th>Start</th><th>End</th><th>Membership Type</th><th>Subscription</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var membership in Model)
                {
                <tr>
                    <td>@membership.MembershipId</td>
                    <td>@membership.StartDate.ToShortDateString()</td>
                    <td>@membership.EndDate.ToShortDateString()</td>
                    <td>@membership.MembershipTypeName</td>
                    <td>@membership.IsSubscription</td>
                    <td>
                        @if (membership.IsSubscription && membership.StripeSubscriptionId != null && membership.CancelAtEnd == false)
                    {
                        using (Html.BeginUmbracoForm("CancelSubscription", "MembershipSurface"))
                        {
                            @Html.Hidden("subscriptionId", membership.StripeSubscriptionId)
                            <button type="submit" class="btn btn-danger btn-fill">Cancel</button>
                        }
                    }
                    else if (membership.IsSubscription && membership.CancelAtEnd)
                    {
                        <button class="btn btn-default disabled">Subscription cancelled...</button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-info">You havent subscribed yet</p>
}
