@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<WellsOperaticSociety.Models.MemberModels.Membership>>


<h2>Membership History</h2>
@if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr><th>Membership Id</th><th>Start</th><th>End</th><th>Membership Type</th><th>Subscription</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var membership in Model)
                {
                <tr>
                    <td>@membership.MembershipId</td>
                    <td>@membership.StartDate</td>
                    <td>@membership.EndDate</td>
                    <td>@membership.MembershipTypeName</td>
                    <td>@membership.IsSubscription</td>
                    <td><a href="#" class="btn btn-default">Manage Membership</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-info">You havent subscribed yet</p>
}
