@model WellsOperaticSociety.Models.MemberModels.ResetPassword
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">@TempData["ErrorMessage"]</div>
}
else
{
    using (Html.BeginUmbracoForm("ResetPassword", "MembershipSurface"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Token)
        <div class="form-group">
            @Html.PasswordFor(m => Model.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Password) })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => Model.RepeatePassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.RepeatePassword) })
            @Html.ValidationMessageFor(m => m.RepeatePassword)
        </div>
        <button type="submit" class="btn btn-default">Reset password</button>
    }
}