@using System.Web.Optimization
@using WellsOperaticSociety.BusinessLogic
@inherits UmbracoViewPage<WellsOperaticSociety.Models.Function>
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/Images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="manifest" href="/Images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@Model.DisplayName</title>
    
    @Styles.Render("~/cssFiles")

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/pe-icon-7-stroke.css" rel="stylesheet" />

    <!--  jQuery and Bootstrap core files    -->
    @Scripts.Render("~/jqueryAndBootstrapScripts")

    <!-- Unite Gallery -->
    <script src="~/scripts/unitegallery.min.js"></script>
    <script src="~/scripts/ug-theme-tiles.js"></script>
    <link href="~/Content/unite-gallery.css" rel="stylesheet" />

    <!-- cookie law-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js"></script>
</head>
<body>
    <!-- Navbar will come here -->
    @Html.Partial("TopNavigation", Umbraco.TypedContent(UmbracoContext.PageId))
    <!-- end navbar -->

<div class="wrapper">
    @if (Members.IsLoggedIn() && Roles.IsUserInRole("Member") && !new DataManager().DoesUserHaveCurrentMembership(Members.GetCurrentMemberId()))
    {
        <div class="alert alert-danger text-center">
            Your membership has expired. You will not be able to take part in shows or get access to early tickets. Manage your membership <a href="/manage-membership/">here</a>
        </div>
    }
    <div class="section">
        <div class="container">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                    @Html.Raw(Model.Description)
                    <p><i class="pe-7s-date"></i>Show dates: @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>

                    @if (Model.ButtonLink.IsNotNullOrEmpty())
                    {
                        {
                            var target = Model.OpenLinkInNewWindow ? " target='_blank" : string.Empty;
                            var text = Model.ButtonText.IsNullOrEmpty() ? "Book here" : Model.ButtonText;
                            <a class="btn btn-primary btn-round" href="@Model.ButtonLink" @target><i class="fa fa-@Model.IconForButton"></i>@text</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.GalleryImages != null && Model.GalleryImages.Count > 0)
    {
        <div class="section section-gray">
            <div class="container">
                <h2 class="section-title">Gallery</h2>
                <div id="gallery" class="ug-gallery-wrapper ug-theme-tiles" style="display: none;">
                    @{
                        var index = 1;
                        foreach (var img in Model.GalleryImages)
                        {
                            <img alt="@Model.DisplayName @index" src="@Umbraco.TypedMedia(img).Url"
                                 data-image="@Umbraco.TypedMedia(img).Url"
                                 data-description="@Model.DisplayName @index">
                            index++;
                        }
                    }
                </div>
            </div>
        </div>
    }
    @if (Model.MemberRoles != null && Model.MemberRoles.Count > 0)
    {
        <div class="section section-gray">
            <div class="container">
                <h2 class="section-title">Cast and Crew</h2>
                <table class="table table-striped">
                    <thead>
                    <tr><th>Group</th><th>Role</th><th>Member Name</th></tr>
                    </thead>
                    <tbody>

                    @foreach (var role in Model.MemberRoles)
                    {
                        <tr><td>@role.Group</td><td>@role.Role</td><td>@(role.Member != null ? role.Member.Name : string.Empty)</td></tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @Html.Partial("Footer", Umbraco.TypedContent(UmbracoContext.PageId))
</div>
    <!--  Plugins -->
    @Scripts.Render("~/Plugins")
    @Scripts.Render("~/gsdCore")

    <script type="text/javascript">
        var big_image;
        $().ready(function () {
            $("#gallery").unitegallery({
                gallery_theme: "tiles",
                tiles_type: "nested"
            });
            //Cookie Law
            window.cookieconsent.initialise({ "palette": { "popup": { "background": "#252e39" }, "button": { "background": "#14a7d0" } }, "theme": "classic" });

        });
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56c0f4176c1341e4"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85124309-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
