@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Models.ContactUs>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}


@using (Html.BeginUmbracoForm<WellsOperaticSociety.Web.Controllers.MainSurfaceController>("SubmitContactUsForm",null,new {@class="form-horizontal"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Name) })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Email), type="email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Message), rows = "3" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="@WellsOperaticSociety.Web.SensativeInformation.ReCaptchKeys.ReCaptchaSiteKey"></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
