@model WellsOperaticSociety.Models.EmailModels.Payment

<html>
<head>
    @Html.Partial("~/Views/Emails/EmailStyling.cshtml")
</head>
<body>
    @Html.Partial("~/Views/Emails/EmailHeader.cshtml", new ViewDataDictionary { { "baseUri", Model.BaseUri } })
    <p>
        This is your receipt for your membership subscription,
    </p>
    <p>
        ======================================<br/>
        RECEIPT #: @Model.RecieptId<br />
        <br />
        @Model.StartDate<br />
        <br />
        Total: £@Model.Amount<br />
        <br />
        If you have any questions, please contact us.
        <br />
    </p>
    <p>
        Wells Operatic Society
    </p>
    @Html.Partial("~/Views/Emails/EmailFooter.cshtml")
</body>
</html>



