@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.UI.WebControls
@using WellsOperaticSociety.BusinessLogic
@using WellsOperaticSociety.Models.AdminModels
@using WellsOperaticSociety.Models.Enums
@using WellsOperaticSociety.Web.Models
@using Member = WellsOperaticSociety.Models.MemberModels.Member
@{
    int funcId = 0;
    var model = new ShowVouchersViewModel();

    if (int.TryParse(Request.QueryString["id"], out funcId))
    {
        var dm = new DataManager();
        model.ShowVouchers = dm.GetMemberShowVouchers(funcId);
        model.MembersCount = model.ShowVouchers.MemberVoucherList.Count();
        model.PatronsCount = model.ShowVouchers.PatronVoucherList.Count();
        model.ShowMembersCount = model.ShowVouchers.ShowMemberVoucherList.Count();
    }
}
@if (funcId == 0)
{
    <div class="alert alert-danger">You have not selected a show to manage the vouchers for plase go back to the manage functions page and try again.</div>
}
else
{
using (Html.BeginUmbracoForm("SendVouchers", "AdminSurface"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.Hidden("functionId",funcId)
    <div class="form-group">
        <label>Show Member Vouchers</label>
        @Html.TextArea("ShowMemberVouchers", new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Member Vouchers</label>
        @Html.TextArea("MembersVouchers", new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Patron Vouchers</label>
        @Html.TextArea("PatronsVouchers", new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Date box office is available from</label>
        @Html.TextBox("VoucherActiveFrom", null, new {@class = "form-control datePicker", type = "dateandtime"})
    </div>
    <div class="form-group">
        <label>The box office link for the show dates eg https://thelittleboxoffice.com/wellslittletheatre/book/event/53336</label>
        @Html.TextBox("ShowBoxOfficeUrl", null, new { @class = "form-control" })
    </div>
    <button class="btn btn-info btn-fill" type="submit">Send</button> 
}

    <h2>Show members</h2>
    @(model.ShowMembersCount)
    if(model.ShowVouchers.ShowMemberVoucherList!=null && model.ShowVouchers.ShowMemberVoucherList.Any())
    {
        <table class="table">
            @foreach (var m in model.ShowVouchers.ShowMemberVoucherList)
            {
                <tr>
                    <td>@m.Member.Name</td>
                    <td>@m.Member.GetContactEmail</td>
                    <td>@m.Key</td>
                    @*<td><button class="btn btn-info">Edit Voucher</button></td>*@
                </tr>

            }
        </table>
    }
    <h2>Members</h2>
    @(model.MembersCount)
    if (model.ShowVouchers.MemberVoucherList!=null && model.ShowVouchers.MemberVoucherList.Any())
    {
        <table class="table">
            @foreach (var m in model.ShowVouchers.MemberVoucherList)
            {
                <tr>
                    <td>@m.Member.Name</td>
                    <td>@m.Member.GetContactEmail</td>
                    <td>@m.Key</td>
                    @*<td><button class="btn btn-info">Edit Voucher</button></td>*@
                </tr>

            }
        </table>
    }
    <h2>Patrons</h2>
    @(model.PatronsCount)
    if (model.ShowVouchers.PatronVoucherList!=null && model.ShowVouchers.PatronVoucherList.Any())
    {
        <table class="table">
            @foreach (var m in model.ShowVouchers.PatronVoucherList)
            {
                <tr>
                    <td>@m.Member.Name</td>
                    <td>@m.Member.GetContactEmail</td>
                    <td>@m.Key</td>
                    @*<td><button class="btn btn-info">Edit Voucher</button></td>*@
                </tr>

            }
        </table>
    }
}
<script> $(".datePicker").datepicker({ dateFormat: "dd/mm/yy" });</script>