@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var dataManager = new WellsOperaticSociety.BusinessLogic.DataManager(Umbraco.UmbracoContext);

    var model = dataManager.GetBoxOfficeFunctionInformation();
}

<h1>Box Office Information</h1>
@if(model.OpeningTimes != null && model.OpeningTimes.Any())
{
    <ul>
    @foreach (var instance in model.OpeningTimes)
    {
        <li>@instance.Date.Date : @instance.OpeningTime.TimeOfDay : @instance.ClosingTime.TimeOfDay : @instance.Message</li>
    }
    </ul>
}else{
    <div class="alert alert-danger">The box office doesn't currently have any opening times</div>
}

<h1>Current Shows</h1>
@if (model.FunctionsAvailable != null && model.FunctionsAvailable.Any())
{
    <ul>
        @foreach (var function in model.FunctionsAvailable)
        {
            <li>@function.DisplayName : @function.TicketsAvailableOnline : @function.TicketsAvailableOnlineFrom : @function.TicketsAvailableFromTheBoxOfficeInPerson : @function.TicketsAvailableFromTheBoxOfficeFrom</li>
        }
    </ul>
}
else
{
    <div class="alert alert-danger">The box office doesn't currently have any opening times</div>
}