@using WellsOperaticSociety.BusinessLogic
@using WellsOperaticSociety.Models.UmbracoModels
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var dm = new DataManager();

    var documents = dm.GetManuals();
}
@functions
{
    private string GetDocumentUrl(Document document)
    {
        if (document == null || !document.DocumentFile.Any())
            return string.Empty;
        return document.DocumentFile.First().Url;
    }
    private string GetDocumentExtension(Document document)
    {
        if (document == null || !document.DocumentFile.Any())
            return string.Empty;

        string extension = document.DocumentFile.First().GetProperty("umbracoExtension").Value.ToString();
        return extension;
    }
}

@if (documents.Any())
{
    foreach (var manual in documents)
    {
        <div class="row uploaded-document">
            <div class="col-xs-2"><div class="file-icon file-icon-xl hidden-xs" data-type="@GetDocumentExtension(manual)"></div><div class="file-icon file-icon-lg visible-xs" data-type="@GetDocumentExtension(manual)"></div></div>
            <div class="col-xs-10">
                <a href="@GetDocumentUrl(manual)">
                    <h2>@manual.Name</h2>
                    <p>@Html.Raw(manual.GetPropertyValue<string>("description"))</p>
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info">There are no manuals available yet</div>
}